body{
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );


padding: 20px 200px;
font-family: monospace;
}

header h1{
	ssbackground-color: white;
	ssborder-radius: 10px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	padding: 5px 10px;
	color: #333333;
	width: 70%;
	font-size: 14pt;
}

header img{
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}